h1 {
    text-align: center;
    margin: auto;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-variation-settings: "slnt" 0;
}

p {
    text-align: center;
    margin: auto;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-variation-settings: "slnt" 0;
}

canvas {
    display: block;
    justify-content: center;
}
