h1 {
    text-align: center;
    margin: auto;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-variation-settings: "slnt" 0;
}

h2 {
    text-align: center;
    margin: auto;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-variation-settings: "slnt" 0;
}

p {
    text-align: center;
    margin: auto;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-variation-settings: "slnt" 0;
    padding-left: 20%;
    padding-right: 20%;
}

canvas {
    display: block;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
