h1 {
    color: #008080;
    text-align: center;
    margin: auto;
}

h2 {
    text-align: center;
    margin: auto;
}

.fit-picture {
    width: 250px;
}

h3 {
    text-align: center;
    margin: auto;
}

img {
    margin: auto;
    display: block;
}

.container {
  text-align: center; 
    margin: auto;
}

